 .caja_input{
      width: 250px;
      font-size: 30px;
      height: 40px;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius:5px;
     }

     .fon{
        font-size: 25px;
     }

   ul li:nth-child(2n){
     color: red;
     font-weight: bold;

   }

   input:focus{
      border: 2px solid blue;
      outline: none;

   }

.elemento{
   color: black;
   transition: color 0.3s ease;

}

.elemento:hover{
   color:red;
}

@keyframes ejemplo{

0%{
   opacity: 0;
}
100%{
   opacity: 1;
}
}

.elemento1{
   animation: ejemplo 10s ease;
}


